<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:theme="@style/Theme.OmerKripto" android:icon="@drawable/ic_launcher" android:roundIcon="@drawable/ic_launcher" android:label="Ömer Kripto Motoru" android:usesCleartextTraffic="false" android:hardwareAccelerated="true" android:networkSecurityConfig="@xml/network_security_config" android:allowBackup="true">
        <receiver android:name=".ModelDownloadReceiver" android:exported="false" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>